<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static custom_tags %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ dz_array.public.description }}" />

        <!-- PAGE TITLE HERE -->
        <title>{% block title %}{{ dz_array.public.title }}{% endblock %}</title>

        <!-- FAVICONS ICON -->
        <link rel="shortcut icon" type="image/png" href="{% static dz_array.public.favicon %}" />
        {% for cssurl in dz_array.global.css %}
        <link rel="stylesheet" href="{% static cssurl %}">
        {% endfor %}
        {% block additional_css %}
        {% endblock %}

    </head>
    <body data-typography="poppins" data-layout="vertical" data-nav-headerbg="black" data-headerbg="color_1">

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
		<div class="lds-ripple">
			<div></div>
			<div></div>
		</div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        {% include 'w3crm/elements/nav-header.html' %}

        {% include 'w3crm/elements/header.html' %}

        {% include 'w3crm/elements/sidebar.html' %}

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            {% if messages %}
            <div class="container-fluid pt-3">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
            {% endif %}

            {% block content %}
            {% endblock %}
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

        {% include 'w3crm/elements/footer.html' %}

	</div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    {% for jsurl in dz_array.global.js.top %}
    <script src="{% static jsurl %}"></script>
    {% endfor %}

    {% for jsurl in dz_array.global.js.bottom %}
    <script src="{% static jsurl %}"></script>
    {% endfor %}

    {% block additional_js %}
    {% endblock %}

</body>
</html>
