{% load i18n %}

<li class="menu-item">
    <a href="/monitoring/" class="menu-link">
        <i class="ri-line-chart-line menu-icon"></i>
        <span class="menu-text">{% trans "Monitoring" %}</span>
    </a>
</li>
<li class="menu-item">
    <a href="/search/" class="menu-link">
        <i class="ri-search-line menu-icon"></i>
        <span class="menu-text">{% trans "Search" %}</span>
    </a>
</li>
<li class="menu-item">
    <a href="/enrollment/" class="menu-link">
        <i class="ri-user-add-line menu-icon"></i>
        <span class="menu-text">{% trans "Enrollment" %}</span>
    </a>
</li>
<li class="menu-item">
    <a href="/courses/" class="menu-link">
        <i class="ri-book-open-line menu-icon"></i>
        <span class="menu-text">{% trans "Courses" %}</span>
    </a>
</li>
<li class="menu-item">
    <a href="/attendance/" class="menu-link">
        <i class="ri-calendar-check-line menu-icon"></i>
        <span class="menu-text">{% trans "Attendance" %}</span>
    </a>
</li>
<li class="menu-item">
    <a href="/results/" class="menu-link">
        <i class="ri-bar-chart-box-line menu-icon"></i>
        <span class="menu-text">{% trans "Results" %}</span>
    </a>
</li>
<li class="menu-item">
    <a href="/payments/" class="menu-link">
        <i class="ri-money-dollar-circle-line menu-icon"></i>
        <span class="menu-text">{% trans "Payments" %}</span>
    </a>
</li>
<li class="menu-item">
    <a href="/library/" class="menu-link">
        <i class="ri-book-2-line menu-icon"></i>
        <span class="menu-text">{% trans "Library" %}</span>
    </a>
</li>
<li class="menu-item">
    <a href="/events/" class="menu-link">
        <i class="ri-calendar-event-line menu-icon"></i>
        <span class="menu-text">{% trans "Events" %}</span>
    </a>
</li>
<li class="menu-item">
    <a href="/discipline/" class="menu-link">
        <i class="ri-shield-check-line menu-icon"></i>
        <span class="menu-text">{% trans "Discipline" %}</span>
    </a>
</li>
