{% load i18n %}

<li class="menu-item">
    <a href="/courses/my-classes/" class="menu-link">
        <i class="ri-presentation-line menu-icon"></i>
        <span class="menu-text">{% trans "My Classes" %}</span>
    </a>
</li>
<li class="menu-item">
    <a href="/attendance/record/" class="menu-link">
        <i class="ri-calendar-check-line menu-icon"></i>
        <span class="menu-text">{% trans "Mark Attendance" %}</span>
    </a>
</li>
<li class="menu-item">
    <a href="/results/grade-entry/" class="menu-link">
        <i class="ri-edit-box-line menu-icon"></i>
        <span class="menu-text">{% trans "Enter Grades" %}</span>
    </a>
</li>
<li class="menu-item">
    <a href="/notes/" class="menu-link">
        <i class="ri-sticky-note-line menu-icon"></i>
        <span class="menu-text">{% trans "Course Notes" %}</span>
    </a>
</li>
<li class="menu-item">
    <a href="/search/students/" class="menu-link">
        <i class="ri-user-search-line menu-icon"></i>
        <span class="menu-text">{% trans "Students" %}</span>
    </a>
</li>
<li class="menu-item">
    <a href="/quiz/" class="menu-link">
        <i class="ri-questionnaire-line menu-icon"></i>
        <span class="menu-text">{% trans "Quizzes" %}</span>
    </a>
</li>
