{% load i18n %}

<li class="menu-item">
    <a href="/accounts/children/" class="menu-link">
        <i class="ri-parent-line menu-icon"></i>
        <span class="menu-text">{% trans "My Children" %}</span>
    </a>
</li>
<li class="menu-item">
    <a href="/attendance/child/" class="menu-link">
        <i class="ri-calendar-check-line menu-icon"></i>
        <span class="menu-text">{% trans "Attendance" %}</span>
    </a>
</li>
<li class="menu-item">
    <a href="/results/child/" class="menu-link">
        <i class="ri-bar-chart-box-line menu-icon"></i>
        <span class="menu-text">{% trans "Grades" %}</span>
    </a>
</li>
<li class="menu-item">
    <a href="/payments/child/" class="menu-link">
        <i class="ri-bank-card-line menu-icon"></i>
        <span class="menu-text">{% trans "Payments" %}</span>
    </a>
</li>
<li class="menu-item">
    <a href="/events/" class="menu-link">
        <i class="ri-calendar-event-line menu-icon"></i>
        <span class="menu-text">{% trans "Events" %}</span>
    </a>
</li>
