{% extends 'w3crm/elements/layouts/admin.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ title }} - School Management{% endblock %}

{% block content %}
<div class="page-titles">
    <ol class="breadcrumb">
        <li><h5 class="bc-title">{{ title }}</h5></li>
        <li class="breadcrumb-item"><a href="{% url 'frontend:core:home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'frontend:scheduling:room_list' %}">Rooms</a></li>
        <li class="breadcrumb-item active">{{ title }}</li>
    </ol>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">{{ title }}</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {% crispy form %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
