{% extends 'w3crm/elements/layouts/admin.html' %}
{% load static %}

{% block title %}Date Statistics - School Management{% endblock %}

{% block content %}
<div class="page-titles">
    <ol class="breadcrumb">
        <li><h5 class="bc-title">Date Statistics</h5></li>
        <li class="breadcrumb-item"><a href="{% url 'frontend:core:home' %}">Home</a></li>
        <li class="breadcrumb-item active"><a href="javascript:void(0)">Date Statistics</a></li>
    </ol>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Date Statistics</h4>
                </div>
                <div class="card-body">
                    <p>Welcome to the Date Statistics page.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
