{% extends 'w3crm/elements/layouts/admin.html' %}
{% load static %}

{% block title %}Payment Successful - School Management{% endblock %}

{% block content %}
<div class="page-titles">
    <ol class="breadcrumb">
        <li><h5 class="bc-title">Payment Successful</h5></li>
        <li class="breadcrumb-item"><a href="{% url 'frontend:core:home' %}">Home</a></li>
        <li class="breadcrumb-item active"><a href="javascript:void(0)">Payment Successful</a></li>
    </ol>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4>Payment Successful</h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
