{% extends 'w3crm/elements/layouts/admin.html' %}
{% load static %}

{% block title %}Remove Subject - School Management{% endblock %}

{% block content %}
<div class="page-titles">
    <ol class="breadcrumb">
        <li><h5 class="bc-title">Remove Subject</h5></li>
        <li class="breadcrumb-item"><a href="{% url 'frontend:core:home' %}">Home</a></li>
        <li class="breadcrumb-item active"><a href="javascript:void(0)">Remove Subject</a></li>
    </ol>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-6 col-lg-8 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title text-danger">Confirm Deletion</h4>
                </div>
                <div class="card-body">
                    <p>Are you sure you want to delete this item? This action cannot be undone.</p>
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Yes, Delete</button>
                        <a href="javascript:history.back()" class="btn btn-light ms-2">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
