{% extends 'w3crm/elements/layouts/admin.html' %}
{% load static %}

{% block title %}My Threads - School Management{% endblock %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'w3crm/vendor/datatables/css/jquery.dataTables.min.css' %}">
{% endblock %}

{% block content %}
<div class="page-titles">
    <ol class="breadcrumb">
        <li><h5 class="bc-title">My Threads</h5></li>
        <li class="breadcrumb-item"><a href="{% url 'frontend:core:home' %}">Home</a></li>
        <li class="breadcrumb-item active"><a href="javascript:void(0)">My Threads</a></li>
    </ol>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">My Threads</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="datatable" class="table table-striped table-responsive-sm">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="4" class="text-center">No data available</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block additional_js %}
<script src="{% static 'w3crm/vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
<script>$(document).ready(function() { $('#datatable').DataTable(); });</script>
{% endblock %}
